@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* .container {
  margin: auto;
} */

/* Colors */
/* .color-primary-text {
  color: #ae2138;
}
.color-primary-bg {
  background-color: #ae2138;
} */

/* Typography */

.text-regular-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.text-medium-normal {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.text-h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
}

/* Call to Action Buttons */
.cta-button {
  /* text-regular-normal */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/* Primary */
.cta-button.primary {
  background-color: #ae2138;
  border: 1px solid #ae2138;
  color: white;
}
/* Secondary */
.cta-button.secondary {
  background-color: white;
  border: 1px solid black;
  color: black;
}
/* Alternative  */
.cta-button.alternative {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.cta-button:hover {
  background-color: white;
  color: #ae2138;
  border: 1px solid #ae2138;
}
.cta-button:active {
  transform: scale(0.95);
}

/* Links */
a {
  transition: all 0.25s ease-in-out;
}
a:hover {
  color: #ae2138;
}
a:active {
  color: #7a151f;
}

/* Logo */
.logo img:active {
  transform: scale(0.95);
}

/* Header */
.mobile-menu:hover {
  cursor: pointer;
}
.mobile-menu:active {
  transform: scale(0.95);
}

/* Main Hero */
.main-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/hero-bg.jpg") no-repeat center center/cover;
}
