@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* .container {
  margin: auto;
} */

/* Colors */
/* .color-primary-text {
  color: #ae2138;
}
.color-primary-bg {
  background-color: #ae2138;
} */

/* Typography */
.text-regular-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.text-regular-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.text-medium-normal {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

/* Call to Action Buttons */
.cta-button-primary {
  background-color: #ae2138;
  padding: 12px 24px;
  border: 1px solid #ae2138;
  border-radius: none;
  width: fit-content;
  height: fit-content;

  /* text-regular-normal */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;

  transition: all 0.25s ease-in-out;
}
.cta-button-primary:hover {
  background-color: white;
  color: #ae2138;
  border: 1px solid #ae2138;
}
.cta:active {
  transform: scale(0.95);
}

/* Links */
a {
  transition: all 0.25s ease-in-out;
}
a:hover {
  color: #ae2138;
}
a:active {
  color: #7a151f;
}
