@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  padding-top: 3rem;
}

/* .container {
  margin: auto;
} */

/* Colors */
/* Primary */
.color-primary-text {
  color: #ae2138;
}
/* .color-primary-bg {
  background-color: #ae2138;
} */
.color-primary-b {
  border-color: #7a151f;
}
/* Secondary */
/* .color-secondary-text {
  color: #8d99ae;
} */

/* Typography */

.text-regular-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.text-medium-normal {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.text-bold-normal {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.text-h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
}
.text-h1-small {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}
.text-h1-responsive {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}
@media (min-width: 768px) {
  .text-h1-responsive {
    font-size: 56px;
  }
}
.text-h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}
.text-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
.text-h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

/* Call to Action Buttons */
.cta-button {
  /* text-regular-normal */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

/* Primary */
.cta-button.primary {
  background-color: #ae2138;
  border: 1px solid #ae2138;
  color: white;
}
/* Secondary */
.cta-button.secondary {
  background-color: white;
  border: 1px solid black;
  color: black;
}
/* Alternative  */
.cta-button.alternative {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.cta-button:hover {
  background-color: white;
  color: #ae2138;
  border: 1px solid #ae2138;
}
.cta-button:active {
  transform: scale(0.95);
}

/* Links */
a {
  transition: all 0.25s ease-in-out;
}
a:hover:not(.nohover) {
  color: #ae2138;
}
a:active {
  color: #7a151f;
}

/* Logo */
.logo img {
  transition: all 0.25s ease-in-out;
}
.logo img:active {
  transform: scale(0.95);
}

/* Header */
.mobile-menu:hover {
  cursor: pointer;
}
.mobile-menu:active {
  transform: scale(0.95);
}

/* Home Hero */
.home-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/hero-bg.jpg") no-repeat center center/cover;
}

/* Heros */
.hero-section.about .image {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/about-hero.jpg") no-repeat center center/cover;
}
.hero-section.services .image {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/services-hero.jpg") no-repeat center center/cover;
}
.hero-section.contacts .image {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("/contacts-hero.jpg") no-repeat center center/cover;
}

/* Service Hero */
.service-hero-section.tuzvedelem {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/tuzvedelem.jpg") no-repeat center center/cover;
}
.service-hero-section.azbesztmentesites {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/azbesztmentesites.jpg") no-repeat center center/cover;
}
.service-hero-section.tuzkarmentesites {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/tuzkarmentesites.jpg") no-repeat center center/cover;
}
.service-hero-section.vizkarmentesites {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/vizkarmentesites.jpg") no-repeat center center/cover;
}
.service-hero-section.iparitesv {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/iparitesv.jpg") no-repeat center center/cover;
}
.service-hero-section.alpintechnika {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/alpintechnika.jpg") no-repeat center center/cover;
}
